/* Style the tab */
.tab {
    overflow: hidden;
    white-space: nowrap;
    /* border: 1px solid #ccc; */
    /* background-color: #f1f1f1; */
    width: 100%;
    
    /* padding: 6px 12px; */

  }
  
/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  /* padding: 6px 10px; */
  transition: 0.3s;
  width: 50%;
  font-family: Poppins, sans-serif;
  font-size: 90%;
  font-weight: normal;
  color: white;

  margin: 0px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: rgb(30, 38, 94);
}

/* Create an active/current tablink class */
.tab button.active {
  color: rgb(30, 38, 94);
}